/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2023, 8:22:58 AM
    Author     : toan0
*/
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=Noto+Sans+Lepcha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=IBM+Plex+Mono:wght@400;600&family=Noto+Sans+Lepcha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=IBM+Plex+Mono:wght@400;600&family=Noto+Sans+Lepcha&family=Poppins:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Climate+Crisis&family=IBM+Plex+Mono:wght@400;600&family=Noto+Sans+Lepcha&family=Poppins:wght@400;500;600;800&display=swap");
h1{
    padding: 2rem;
    background: #ddd;
    font-family:"Poppins", sans-serif;;
    text-align: center;
}
.styled-table {
    border-collapse: collapse;
    margin: 3rem 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 30%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #fff;
    text-align: left;

}

.styled-table th{
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-align: left;
    font-size: 1.5rem;
}

.styled-table td {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: left;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/* CSS Nav-bar header*/

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-height: 200vh;
    /*background: #000;*/
}



/*.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 3rem 5rem;
    z-index: 10000;
    height: 10rem;
}

.navbar.sticky {
    padding: 3rem 3rem;
    background: #fff;
    border-bottom: 3px solid silver;
}

.navbar #logo a {
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.navbar #logo img {
    margin-top: -1rem;
    width: 12rem;
    height: 6rem;
}

.navbar > .header-info > ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    width: 80rem;
}

.navbar .header-info ul li {
    position: relative;
    list-style: none;
    margin: 0 1rem;
}
.navbar .header-info ul li a {
    position: relative;
    text-decoration: none;
    margin: 0 2rem;
    font-size: 2rem;
    color: #fff;
}

.navbar .header-info ul li a::after {
    content: "";
    height: 0.3rem;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}

.navbar .header-info ul li a:hover::after {
    width: 100%;
}

.navbar .header-info .account {
    display: flex;
    margin-top: 1rem;
}

.navbar .header-info .account img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: -1rem;
}

.navbar .header-info .account ul {
    position: absolute;
    left: 0;
    width: 27rem;
    padding: 2rem;
    display: none;
}

.navbar .header-info .account ul li {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    padding: 1rem;
}

.navbar .header-info ul li:hover > ul {
    display: initial;
    margin-top: 2rem;
}

.navbar.sticky ul li a {
    color: #000;
}

.navbar.sticky ul li > ul li a {
    color: #fff;
}

.navbar.sticky #logo > a{
    color: #000;
}
container{
position: relative;
}*/

